.inner-page-bg { background-color: #FFFFFF; padding: 1% 0 1% 0;}
.immigrate-bg { background-color: #ffffff; margin: 0;  box-shadow: 
  0px -4px 8px rgb(0 0 0 / 4%), 
  0px 4px 8px rgb(0 0 0 / 4%),  
  0px -16px 32px rgb(0 0 0 / 4%), 
  0px 16px 32px rgb(0 0 0 / 4%); padding: 30px; border-radius: 5px;}
.immigrate-bg p { text-align: justify;}
.immigrate-bg .nav-item .nav-link { color: #000000;padding: 10px 15px;}
.immigrate-bg .univ-logo-size { height: auto; width: 30px;} 
.immigrate-bg .nav-item .active { color: #1167c3; border-bottom: 2px solid#1167c3; font-weight: 600;} 
.immigrate-bg .points { padding-left: 30px; display: inline-block; margin-top: 0;}
.immigrate-bg .points li { list-style: square;  color: #606060; text-align: justify;}
.immigrate-bg .heading h3 {  position: relative; margin: 0px 0 15px 0;}
.immigrate-bg .heading h4 { position: relative; margin: 0px 0 10px 0; color: #050d3c;}
.immigrate-bg .heading h5 {  position: relative; margin: 10px 0; color: #000000;}
.immigrate-bg .points-two { padding-left: 15px; display: block; margin-top: 0;}
.immigrate-bg .points-two li { list-style: disclosure-closed;  color: #606060; text-align: justify;}
.immigrate-bg .points-two li::marker { color: #fec001;}
.immigrate-bg .mbbs-in-china-page-slider .carousel-inner .carousel-item img { width: 100%; height: 600px; object-fit: cover; object-position: center; border-radius: 5px 5px 0 0}
.immigrate-bg .australia-image img { width: 100%; height: 450px; object-fit: cover; object-position: center; margin: 0 0 20px 0;}

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}@media (min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1320px}}
.table-responsive{overflow-x:auto;-webkit-overflow-scrolling:touch}@media (max-width:575.98px){.table-responsive-sm{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:767.98px){.table-responsive-md{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:991.98px){.table-responsive-lg{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:1199.98px){.table-responsive-xl{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:1399.98px){.table-responsive-xxl{overflow-x:auto;-webkit-overflow-scrolling:touch}}


.table{--bs-table-bg:transparent;--bs-table-accent-bg:transparent;--bs-table-striped-color:#212529;--bs-table-striped-bg:rgba(0, 0, 0, 0.05);--bs-table-active-color:#212529;--bs-table-active-bg:rgba(0, 0, 0, 0.1);--bs-table-hover-color:#212529;--bs-table-hover-bg:rgba(0, 0, 0, 0.075);width:100%;margin-bottom:1rem;color:#212529;vertical-align:top;border-color:#dee2e6}.table>:not(caption)>*>*{padding:.5rem .5rem;background-color:var(--bs-table-bg);border-bottom-width:1px;box-shadow:inset 0 0 0 9999px var(--bs-table-accent-bg)}.table>tbody{vertical-align:inherit}.table>thead{vertical-align:bottom}.table>:not(:last-child)>:last-child>*{border-bottom-color:currentColor}.caption-top{caption-side:top}.table-sm>:not(caption)>*>*{padding:.25rem .25rem}.table-bordered>:not(caption)>*{border-width:1px 0}.table-bordered>:not(caption)>*>*{border-width:0 1px}.table-borderless>:not(caption)>*>*{border-bottom-width:0}.table-striped>tbody>tr:nth-of-type(odd){--bs-table-accent-bg:var(--bs-table-striped-bg);color:var(--bs-table-striped-color)}.table-active{--bs-table-accent-bg:var(--bs-table-active-bg);color:var(--bs-table-active-color)}.table-hover>tbody>tr:hover{--bs-table-accent-bg:var(--bs-table-hover-bg);color:var(--bs-table-hover-color)}.table-primary{--bs-table-bg:#cfe2ff;--bs-table-striped-bg:#c5d7f2;--bs-table-striped-color:#000;--bs-table-active-bg:#bacbe6;--bs-table-active-color:#000;--bs-table-hover-bg:#bfd1ec;--bs-table-hover-color:#000;color:#000;border-color:#bacbe6}.table-secondary{--bs-table-bg:#e2e3e5;--bs-table-striped-bg:#d7d8da;--bs-table-striped-color:#000;--bs-table-active-bg:#cbccce;--bs-table-active-color:#000;--bs-table-hover-bg:#d1d2d4;--bs-table-hover-color:#000;color:#000;border-color:#cbccce}.table-success{--bs-table-bg:#d1e7dd;--bs-table-striped-bg:#c7dbd2;--bs-table-striped-color:#000;--bs-table-active-bg:#bcd0c7;--bs-table-active-color:#000;--bs-table-hover-bg:#c1d6cc;--bs-table-hover-color:#000;color:#000;border-color:#bcd0c7}.table-info{--bs-table-bg:#cff4fc;--bs-table-striped-bg:#c5e8ef;--bs-table-striped-color:#000;--bs-table-active-bg:#badce3;--bs-table-active-color:#000;--bs-table-hover-bg:#bfe2e9;--bs-table-hover-color:#000;color:#000;border-color:#badce3}.table-warning{--bs-table-bg:#fff3cd;--bs-table-striped-bg:#f2e7c3;--bs-table-striped-color:#000;--bs-table-active-bg:#e6dbb9;--bs-table-active-color:#000;--bs-table-hover-bg:#ece1be;--bs-table-hover-color:#000;color:#000;border-color:#e6dbb9}.table-danger{--bs-table-bg:#f8d7da;--bs-table-striped-bg:#eccccf;--bs-table-striped-color:#000;--bs-table-active-bg:#dfc2c4;--bs-table-active-color:#000;--bs-table-hover-bg:#e5c7ca;--bs-table-hover-color:#000;color:#000;border-color:#dfc2c4}.table-light{--bs-table-bg:#f8f9fa;--bs-table-striped-bg:#ecedee;--bs-table-striped-color:#000;--bs-table-active-bg:#dfe0e1;--bs-table-active-color:#000;--bs-table-hover-bg:#e5e6e7;--bs-table-hover-color:#000;color:#000;border-color:#dfe0e1}.table-dark{--bs-table-bg:#212529;--bs-table-striped-bg:#2c3034;--bs-table-striped-color:#fff;--bs-table-active-bg:#373b3e;--bs-table-active-color:#fff;--bs-table-hover-bg:#323539;--bs-table-hover-color:#fff;color:#fff;border-color:#373b3e}.table-responsive{overflow-x:auto;-webkit-overflow-scrolling:touch}@media (max-width:575.98px){.table-responsive-sm{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:767.98px){.table-responsive-md{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:991.98px){.table-responsive-lg{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:1199.98px){.table-responsive-xl{overflow-x:auto;-webkit-overflow-scrolling:touch}}@media (max-width:1399.98px){.table-responsive-xxl{overflow-x:auto;-webkit-overflow-scrolling:touch}}

.btn-custom { display: inline-block; padding: 12px 30px; margin-top: 0;  font-weight: 450; line-height: normal; text-align: center; cursor: pointer; background-color: #030303; border: none; border-radius: 30px; text-decoration: none; transition: ease-in-out all 0.2s; color: #ffffff;}
.btn-custom:hover { color: #fec001; }
.btn-univ-detail { padding: 7px 20px; color: #030303; background-color: #cccccc; border-radius: 10px 0;}
.immigrate-bg .btn-custom:hover { background-color: #fec001; color: #030303;}
a { color: #000000; transition: 0.5s all;  -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; text-decoration: none; outline: none;}
a:focus, a:hover, a:active { outline: none; text-decoration: none; color: #f5ad01;}
.table > thead { vertical-align: middle;}
.table-dark { background-color: #fec001; color: #030303; border-color: #f4f0e2; --bs-table-bg: #fec001;}
.table tr td b { font-weight: 450;}
.table tr td b a { color: #030303; transition: ease-in-out all 0.2s;}
.table tr td b a:hover { color: #fec001;}
.table tr { text-align: left;}
ul.points-three { padding-left: 15px; display: inline-block; width: 100%; margin-top: 0; }
ul.points-three li { list-style: disc; font-size: 16px; color: #606060; float: left; margin: 0 3% 0 0; width: 30%; }
ul.points-three li::marker { color: #fec001; }
/* .video-container { position: relative; padding-bottom: 56.25%; height: 0; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } */
@media screen and (max-width: 1199px) {
  ul.points-three li {
      width: 48%;
      margin: 0 2% 0 0;
  }  
}
@media screen and (max-width: 767px) {
  ul.points-three li {
      width: 100%;
      margin: 0;
  }  
}


.budget-wrape { padding: 20px 0;}
  .budget-wrape-detail li { width: 46%; margin: 2%; padding: 20px 10px; text-align: center; float: left;}
  .budget-wrape-detail li a { margin: 5px 0 0 0;}
  .budget-wrape-detail li h5 { font-size: 16px; }
  .budget-wrape p { margin: 0 0 15px 0; font-size: 16px; text-align: center; }
  .budget-wrape .heading-title h3 { margin: 0 0 5px 0; }

  
.university-budget-detail { width: 100%; text-align: center; background-color: #f5f5f5; list-style: none; padding: 20px 15px; border: 1px solid #dddddd; border-radius: 20px 0 20px 0; margin: 0 0 15px 0;}
.university-budget-detail h5 {  font-size: 18px; font-weight: 500;}
.university-budget-detail a { margin: 5px 0 0 0; display: inline-block; font-weight: 400; text-decoration: underline; }
.university-budget-detail:hover a { color: #fec001; letter-spacing: 0.5px;}

.related-countries-detail a { display: inline-block; width: 100%; padding: 20px; background-color: #ffffff; border: 1px solid #d7e0f1; border-radius: 0 20px; box-shadow: 2px 0px 10px 0px rgba(228, 235, 242, 0.4); position: relative; transition: ease-in-out all 0.2s; margin: 0 7.5px 0 7.5px;}
.related-countries-detail a .related-countries-detail-img { float: left; width: 25%; margin-right: 15px;}
.related-countries-detail a h4 { font-size: 15px; font-weight: 600; text-transform: uppercase; color: #212529; margin: 5px 0 0 0; transition: ease-in-out all 0.2s;}
.related-countries-detail a:hover h4 { color: #fec001;}
.related-countries-detail a p { margin: 0; transition: ease-in-out all 0.2s;}
.related-countries-detail a:hover p { color: #000000;}
.related-countries-detail a img {  height: 60px; width: 60px; border-radius: 50%; object-fit: cover; object-position: center; }


.video-section a { position: relative; display: flex; align-items: center; justify-content: center; }
.video-section a img { height: 200px; object-fit: cover; object-position: center; border-radius: 15px 0; box-shadow: 0 0 20px -5px rgb(0 0 0 / 20%); width: 100%; }
.video-section a .play-button { position: absolute; width: 80px; height: 80px; background-color: #fec001; border-radius: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: background-color 0.3s ease; }
.video-section a .play-button:hover { background-color: #fec001d1;}
.video-section a .play-button::before { content: ''; position: absolute; width: 80px; height: 80px; background-color: #fec001; border-radius: 50%; animation: pulse 1.5s infinite; }
.video-section a .triangle { width: 0; height: 0; border-left: 20px solid white; border-top: 12px solid transparent; border-bottom: 12px solid transparent; }


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}



.video-section-2 a { position: relative; display: flex; align-items: center; justify-content: center; }
.video-section-2 a img { height: 200; object-fit: cover; object-position: center; border-radius: 15px 0; box-shadow: 0 0 20px -5px rgb(0 0 0 / 20%); width: 100%; }
.video-section-2 a .play-button { position: absolute; width: 60px; height: 60px; background-color: transparent; border: 2px solid #ffffff; border-radius: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: background-color 0.3s ease; }
.video-section-2 a .play-button:hover { background-color: transparent;}
.video-section-2 a .play-button::before { content: ''; position: absolute; width: 60px; height: 60px; background-color: #ffffff; border-radius: 50%; animation: pulse 1.5s infinite; }
.video-section-2 a .triangle { width: 0; height: 0; border-left: 15px solid white; border-top: 8px solid transparent; border-bottom: 8px solid transparent; }
.video-section-2 a .overlay {
    border-radius: 15px 0;
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    content: "";
    background-color: #000000b0;
    backdrop-filter: blur(3px); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.video-section-2 a .overlay h5 { color: #fec001; font-size: 15px; font-weight: normal;}


@media only screen and (min-width:320px) and (max-width:767px) {
    .video-section-2 a img {
    height: 180px;}
    .video-section-2 a .play-button {
    position: absolute;
    width: 45px;
    height: 45px;}
    .video-section-2 a .play-button::before { width: 45px; height: 45px;}
    .video-section-2 a .triangle { 
    border-left: 12px solid white;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.video-section-2 a .overlay h5 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 450;
}
.immigrate-bg .mbbs-in-china-page-slider .carousel-inner .carousel-item img { height: 200px;}
.video-section a img { height: 250px; object-fit: cover; object-position: center; border-radius: 10px 0; box-shadow: 0 0 20px -5px rgb(0 0 0 / 20%); }
.video-section a .play-button { position: absolute; width: 60px; height: 60px; background-color: #fec001; border-radius: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: background-color 0.3s ease; }
.video-section a .play-button::before { content: ''; position: absolute; width: 60px; height: 60px; background-color: #fec001; border-radius: 50%; animation: pulse 1.5s infinite; }
}
.d-none{display:none!important}
.img-fluid{max-width:100%;height:auto}


.edu-videos { margin: 0 7.5px;}
#edurizon-videos .owl-controls .owl-buttons { display: flex; justify-content: center; gap: 0 15px; position: absolute; top: -45px; right: 10px;}
#edurizon-videos .owl-controls .owl-prev { transition:background 0.50s ease;}
#edurizon-videos .owl-controls .owl-next { transition:background 0.50s ease;}
#edurizon-videos .owl-controls .owl-prev:after, #edurizon-videos .owl-controls .owl-next:after { content:"\f30a"; font-family: FontAwesome; color: #d3d3d3; font-size:21px; }
#edurizon-videos .owl-controls .owl-next:after { content:"\f30b"; }
#edurizon-videos .owl-controls .owl-prev:hover, #edurizon-videos .owl-controls .owl-next:hover { color: #fec001; }
.country-inner-banner { background-color: #FFFFFF; padding: 1% 0;}
.country-inner-banner img { width: 90px; height: auto; border-radius: 5px;}
.country-inner-banner .heading h1 { color: #151515; margin: 0; font-size: 27px;}
.country-inner-banner .breadcrumb { margin: 0;}
.country-inner-banner .breadcrumb .breadcrumb-list { margin: 5px 0 0 0; padding: 0}
.country-inner-banner .breadcrumb .breadcrumb-list .breadcrumb-group { display: inline; font-size: 14px;}
.country-inner-banner .breadcrumb .breadcrumb-list .breadcrumb-group .breadcrumb-point { color: #777777; transition: ease-in-out all 0.2s;}
.country-inner-banner .breadcrumb .breadcrumb-list .breadcrumb-group .breadcrumb-point:hover { color: #42bfbe;}
.country-inner-banner .breadcrumb .breadcrumb-list .breadcrumb-group span { color: #fec001;}
iframe { border: 2px solid #fec001; border-radius: 0 20px 0 20px;}